mariadb-init/*
htdocs/.htaccess
.htaccess
htdocs/.htaccess

htdocs/wp-config.php

htdocs/wp-content/uploads/*
htdocs/wp-content/updraft/*

htdocs/wp-content/advanced-cache.php
htdocs/wp-content/cache/*
htdocs/wp-content/wpo-cache/*
htdocs/wp-content/ewww/*
htdocs/wp-content/litespeed/
htdocs/wp-content/.litespeed_conf.dat
htdocs/wp-content/wflogs/*
htdocs/wp-content/upgrade/*
htdocs/wp-content/upgrade-temp-backup/*
htdocs/robots.txt