mariadb-init/*

htdocs/wp-config.php

htdocs/wp-content/uploads/*
htdocs/wp-content/updraft/*

htdocs/wp-content/cache/*
htdocs/wp-content/wpo-cache/*
htdocs/wp-content/ewww/*
htdocs/wp-content/wflogs/*