.button-link,
a[title="Virtual showroom"],
a[title="Look inside"],
a[title="Mehr erfahren"],
a[title="Anfrage-Formular"] {
  display: inline-block;
  font-size: 1em;
  line-height: 3em !important;
  text-transform: none;
  color: $blau-mittel-1;
  letter-spacing: 0.05;
  padding: 0 21px;
  margin-bottom: 50px;
  border: 1px solid $blau-mittel-1 !important;
  border-radius: 0 $r1 0 $r1;

  &:hover {
    color: $blau-dunkel !important;
    border-color: $blau-dunkel !important;
  }
}

a[title="Look inside"],
a[title="Mehr erfahren"],
a[title="Anfrage-Formular"] {
  color: #fff;
  border-color: #fff;
  &:hover {
    color: #fff;
    border-color: $gold;
    background-color: $gold;    
  }
}

a[title="Anfrage-Formular"] {
  transform: scale(1.5);
  padding-left: 3em;
  padding-right: 3em;
  text-transform: uppercase;
  border-color: #fff !important;

  &:hover {
    color: #fff !important;
  }
}

.cta-blue {
  background-color: $blau-dunkel;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  &:hover {
    background-color: $blau-mittel-3;
    color: #fff !important;
  }
}

#nachhaltigkeit a[title="Mehr erfahren"] {
  color: $green-text;
  border-color: $green-text;
  &:hover {
    color: #fff;
    background-color: $green-text;
    border-color: $green-text;
  }
}