.button-link {
  display: inline-block;
  font-size: 1em;
  line-height: 3em !important;
  text-transform: none;
  color: $blau-mittel-1;
  letter-spacing: 0.05;
  padding: 0 21px;
  margin-bottom: 50px;
  border: 1px solid $blau-mittel-1 !important;
  border-radius: 0 $r1 0 $r1;

  &:hover {
    background-color: $blau-dunkel !important;
    border-color: $blau-dunkel !important;
    color: $white !important;
  }

  &.green {
    border-color: $green-text !important;
    &:hover {
      background-color: $green-text !important;
      color: $white !important;
    }
  }

  &.big {
    transform: scale(1.5, 1.5);
    letter-spacing: 2px;
  }
}

a[title="Look inside"],
a[title="Anfrage-Formular"] {
  color: #fff;
  border-color: #fff;
  &:hover {
    color: #fff;
    border-color: $gold;
    background-color: $gold;
  }
}

.cta-blue {
  background-color: $blau-dunkel;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1em 0 2em 0;

  &.outline {
    background-color: transparent;
    border: 1px solid $blau-dunkel !important;
    color: $blau-dunkel !important;

    &.green {
      border-color: $green-text !important;
      color: $green-text !important;

      &:hover {
        background-color: $green-text !important;
        color: $white !important;
      }
    }
  }

  &:hover {
    background-color: $blau-mittel-3;
    color: #fff !important;
  }

  &.gold {
    background-color: $gold !important;
    border-color: $gold !important;

    &:hover {
      background-color: $gold-dunkel !important;
    }
  }
}

.button-link.bg--pink {
  border: none !important;
  color: #fff !important;
  transform: scale(1.5);
  padding: 0 3em;
  margin-top: 3em;
}

.bg--blau-dunkel {
  .button-link {
    border-color: $white !important;
    color: $white !important;
    
    &:hover {
      background-color: $white !important;
      color: $blau-dunkel !important;
    }
  }
}
