label {
  display: block;
  margin: 1rem 0 0.5em 0;
  line-height: 1.5;
  font-weight: 400;
}

.wpcf7-radio {
  label {
    margin-top: 0;
  }
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea {
  color: $blau-mittel-3;
  border-radius: 0 $r1 0 $r1;
  border: 1px solid $ivory-hell-2;
  box-shadow: inset 0 3px 9px -7px rgba(0, 0, 0, 0.5);
  padding: 0 0.75rem;
  line-height: 2;
  width: 100%;
}

textarea {
  max-height: 150px;
}

.wpcf7-list-item {
  display: inline-block;
  margin: 0 2em 0 0;

  label,
  input {
    cursor: pointer;
  }
}

input[type=radio],
input[type=checkbox] {
  transform: scale(1.333);
}

.wpcf7-list-item-label + input[type=radio],
.wpcf7-list-item-label + input[type=checkbox] {
  margin-left: 7px;
}

input[type=radio] + .wpcf7-list-item-label,
input[type=checkbox] + .wpcf7-list-item-label {
  margin-left: 7px;
}

form {

  .slick-slide {
    padding: 7px;
  }
  div[class^="col-"] {
    margin-bottom: 30px;
  }

  hr {
    border: none;
    border-bottom: 1px solid $blau-dunkel;
  }

  .gonext,
  .goprev {
    p {
      border: 1px solid $gold-dunkel;
      color: $gold-dunkel !important;
      background-color: transparent;
      border-radius: 0 $r1 0 $r1;
      padding: 0.3em 2.1em;
      cursor: pointer;
      float: left;

      &:hover {
        background-color: #fff;
        border-color: $blau-dunkel !important;
        color: $blau-dunkel !important;
      }
    }
  }

  .gonext {
    float: right;
  }

  .section-title {
    font-size: 1.5em;
  }
}
