span.required {
  color: #dc3232 !important;
}

label {
  display: block;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;

  &.inline {
    margin: 1rem 0 0.5em 0;
  }
}

.wpcf7-list-item {
  label {
    margin: 1rem 0 0.5em 0;
  }
}

form {
  h3 {
    text-align: left;
  }
  .row {
    p,
    input,
    textarea,
    select {
      margin: 0 0 21px 0;
    }
  }
}

.wpcf7-radio {
  label {
    margin-top: 0;
  }
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
textarea {
  color: $blau-mittel-3;
  border-radius: 0 $r1 0 $r1 !important;
  border: 1px solid $ivory-hell-2;
  box-shadow: inset 0 3px 9px -7px rgba(0, 0, 0, 0.5);
  padding: 0 0.75rem;
  line-height: 40px;
  height: 40px;
  width: 100%;
}

textarea {
  padding-top: 0.777em;
  max-height: 150px;
}

.wpcf7-list-item {
  display: inline-block;
  margin: 0 2em 0 0 !important;

  label,
  input {
    cursor: pointer;
  }
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.333);
}

.field.radio {
  @include media-breakpoint-up(md) {
    .wpcf7-form-control-wrap {
      margin: 0;
      padding: 0;
      .wpcf7-form-control {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.wpcf7-list-item-label + input[type="radio"],
.wpcf7-list-item-label + input[type="checkbox"] {
  margin-left: 7px;
}

input[type="radio"] + .wpcf7-list-item-label,
input[type="checkbox"] + .wpcf7-list-item-label {
  margin-left: 7px;
}

form {
  .slick-slide {
    padding: 7px;
  }

  p > a {
    text-decoration: underline;
  }

  div[class^="col-"] {
    margin-bottom: 12px;
  }

  .row {
    display: flex;
    justify-content: space-between;

    div[class^="col-"] {
      margin-bottom: 0;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid $blau-dunkel !important;
  }

  .gonext:not(.submit),
  .goprev,
  .slider-control {
    p {
      border: 1px solid $gold-dunkel;
      color: $gold-dunkel !important;
      background-color: transparent;
      border-radius: 0 $r1;
      padding: 0.3em 2.1em;
      cursor: pointer;
      float: left;

      &:hover {
        background-color: #fff;
        border-color: $blau-dunkel !important;
        color: $blau-dunkel !important;
      }
    }
  }

  .gonext {
    float: right;
  }
  .goprev + div {
    float: right;

    &.submit {
      padding: 0;
    }
  }

  .submit {
    & > p {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    input {
      color: #fff;
      background-color: $gold-dunkel;
      border: 1px solid $gold-dunkel;
      border-radius: 0 $r1;
      padding: 0.3em 2.1em;
      cursor: pointer;
      min-height: 40px;
      margin-top: 2em;

      &:hover {
        background-color: $gold;
        border-color: $gold;
      }

      & + .wpcf7-spinner {
        display: inline-block;
        background-color: transparent;
        opacity: 1;
        width: 24px;
        height: 24px;
        margin: 0 20px;

        &:before {
          background-color: #fff;
          top: 4px;
          left: 4px;
          width: 6px;
          height: 6px;
        }
      }
    }
  }

  .wpcf7-submit {
    color: #fff !important;
    background-color: $gold-dunkel !important;
    border: 1px solid $gold-dunkel !important;
    border-radius: 0 $r1 !important;
    padding: 0.3em 2.1em !important;
    cursor: pointer !important;
    min-height: 38px !important;
    margin: 3em 0 2em !important;
    max-width: 100%;
    white-space: normal;

    &:hover {
      background-color: $gold !important;
      border-color: $gold !important;
    }

    & + .wpcf7-spinner {
      display: inline-block;
      background-color: transparent;
      opacity: 1;
      width: 24px;
      height: 24px;
      margin: 0 20px;

      &:before {
        background-color: #fff;
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
      }
    }
  }

  span.wpcf7-not-valid-tip {
    font-size: 12px;
    line-height: 1;
    margin: -21px 0 12px 0;
    display: block;
    font-weight: 700;
    color: $pink !important;
    background-color: transparent !important;
  }

  .wpcf7-response-output {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 $r2;
    background-color: transparent;
    border-width: 1px !important;
    position: relative;
    z-index: 3;
  }

  &.invalid {
    .wpcf7-response-output {
      border-color: #dc3232 !important;
      border-top-width: 0 !important;
      border-right-width: 0 !important;
      color: #dc3232;
      margin: 1em 0 !important;
      padding: 1em !important;
      background-color: #fff;
    }
  }

  &.sent {
    input.wpcf7-form-control[type="submit"] {
      display: none;
    }

    .wpcf7-response-output {
      border-color: green !important;
      color: green !important;
    }
  }

  .wpcf7-not-valid {
    border-bottom: 2px solid #dc3232 !important;
  }

  .section-title {
    font-size: 1.5em;
  }
}

.screen-reader-response {
  display: none;
}

.popup-form {
  position: fixed;
  top: -200vh;
  left: 0;
  right: 0;
  transition-duration: 0.5s;
  z-index: -100;
  overflow-y: scroll;

  padding: 30px;
  border-radius: 0 $r3;
  border: none;
  background-color: #f4f2ef;

  &.show {
    top: 0;
    bottom: 0;
    transform: none;
    border-radius: 0;
    background-color: $ivory-hell-1;
    box-shadow: 0px 12px 24px -3px rgba(2, 2, 2, 0.2),
      0 0 0 200vmax rgba(234, 229, 225, 0.8);
    z-index: 1000000000;
  }

  * {
    color: $blau-dunkel !important;
    line-height: 1.5;
  }

  span.close {
    position: absolute;
    z-index: 777;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: $ivory-hell-1;
    background-image: url(../images/icons/icon-x-blank.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 50%;
    font-size: 0;
    box-shadow: inset 0 0 0 1px $blau-dunkel;
    cursor: pointer;
    transition-duration: 0.5s;

    &:hover {
      transform: rotate(-360deg);
    }
  }
}

.pum-close {
  transition-duration: 0.5s;

  &:hover {
    transform: rotate(-360deg);
  }
}

.slider-control.ui-button {
  color: $gold-dunkel !important;
  background-color: transparent !important;
  border: 1px solid $gold !important;
  border-radius: 0 18px !important;
  padding: 0 2.1em !important;
  cursor: pointer !important;
  min-height: 36px !important;
  line-height: 36px;
  transition: 0.3s;

  &:hover {
    background-color: $white !important;
    color: $gold-dunkel !important;
    border-color: $gold-dunkel !important;
  }
}

.slider-next + span {
  input[type="submit"] {
    line-height: 36px;
    min-height: 36px;
    display: inline-block;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 10px 0 0 0 !important;
  }
}

.cf7sg-response-output {
  margin: 30px 0 -10px !important;
  padding: 12px 21px !important;
  border-radius: 0 24px;
  background-color: #fff;
  border-width: 0 !important;
  border-bottom-width: 3px !important;
  position: relative;
  z-index: 3;
  box-shadow: $box-hover-shadow;
}

.wpcf7 form.sent .cf7sg-response-output {
  border-color: #006409;
  background-color: #46b450;
  color: #fff;
  font-weight: 700;
  margin-bottom: 70px !important;
}

.wpcf7 form.invalid .cf7sg-response-output,
.wpcf7 form.unaccepted .cf7sg-response-output {
  border-color: #f90 !important;
  color: #f90 !important;
  font-weight: 700;
}

.wpcf7-form .ui-accordion {
  * {
    color: $blau-dunkel;
  }

  .ui-accordion-header {
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    .ui-accordion-header-icon {
      transform: scale(1.3);
    }

    .cf7sg-title {
      font-size: 1em;
      margin: 0;

      & + .toggle {
        position: initial;
        margin-top: initial;
      }
    }
  }

  .ui-accordion-content {
    min-height: auto !important;
    height: auto !important;
    overflow: auto !important;
    border: none !important;
    padding: 0 0 30px !important;
  }

  .toggle-slide {
    box-shadow: none;

    .toggle-inner {
      * {
        font-weight: 600;
        color: $blau-dunkel;
        text-shadow: none;
      }

      .toggle-on {
        color: $white;
        background-color: $green-text;
        box-shadow: none !important;
      }

      .toggle-off {
        color: $blau-dunkel;
        background-color: transparent;
        box-shadow: none !important;
      }

      .toggle-blob {
        background: $white;
        box-shadow: inset 0 0 0 1px $blau-dunkel;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  form {
    font-size: 0.875em;

    p {
      line-height: 1.4;
    }

    .row {
      .columns {
        .columns {
          padding: 0 !important;
        }
      }

      .field {
        &.text {
          label {
            margin-bottom: -2px;
          }
        }

        &.radio {
          margin-top: 7px;
          margin-bottom: 21px;
        }
      }
      input {
        margin-bottom: 3px;
      }
    }
  }
}
