span.required {
  color: #dc3232;
}

label {
  display: block;
  margin: 0 0 3px 0;
  line-height: 1.5;
  font-weight: 400;

  &.inline {
    margin: 1rem 0 0.5em 0;
  }
}

.wpcf7-list-item {
  label {
    margin: 1rem 0 0.5em 0;
  }
}

form {
  .row {
    p, input {
      margin: 7px 0 0 0;
    }
  }
}

.wpcf7-radio {
  label {
    margin-top: 0;
  }
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea {
  color: $blau-mittel-3;
  border-radius: 0 $r1 0 $r1;
  border: 1px solid $ivory-hell-2;
  box-shadow: inset 0 3px 9px -7px rgba(0, 0, 0, 0.5);
  padding: 0 0.75rem;
  line-height: 2;
  width: 100%;
}

textarea {
  max-height: 150px;
}

.wpcf7-list-item {
  display: inline-block;
  margin: 0 2em 0 0 !important;

  label,
  input {
    cursor: pointer;
  }
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.333);
}

.wpcf7-list-item-label + input[type="radio"],
.wpcf7-list-item-label + input[type="checkbox"] {
  margin-left: 7px;
}

input[type="radio"] + .wpcf7-list-item-label,
input[type="checkbox"] + .wpcf7-list-item-label {
  margin-left: 7px;
}

form {
  .slick-slide {
    padding: 7px;
  }
  
  div[class^="col-"] {
    margin-bottom: 12px;
  }

  .row {
    div[class^="col-"] {  
      margin-bottom: 0;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid $blau-dunkel;
  }

  .gonext:not(.submit),
  .goprev {
    p {
      border: 1px solid $gold-dunkel;
      color: $gold-dunkel !important;
      background-color: transparent;
      border-radius: 0 $r1;
      padding: 0.3em 2.1em;
      cursor: pointer;
      float: left;

      &:hover {
        background-color: #fff;
        border-color: $blau-dunkel !important;
        color: $blau-dunkel !important;
      }
    }
  }

  .goprev + div {
    float: right;    

    &.submit {
      padding: 0;
    }          
  }

  .submit {

    & > p {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    input {
      color: #fff;
      background-color: $gold-dunkel;
      border: 1px solid $gold-dunkel;
      border-radius: 0 $r1;
      padding: 0.3em 2.1em;
      cursor: pointer;
      
      &:hover {
        background-color: $gold;
        border-color: $gold;
      }

      & + .wpcf7-spinner {
        display: inline-block;
        background-color: $gold;
        opacity: 1;
        width: 24px;
        height: 24px;
        margin: 0 20px;

        &:before {
          background-color: #fff;
          top: 4px;
          left: 4px;
          width: 6px;
          height: 6px;
        }
      }
    }
  }

  .wpcf7-response-output {
    margin: 3em 0 0 0 !important;
    padding: 1em !important;
    border-radius: 0 $r2;
    background-color: #fff;
    border-width: 1px !important;
    position: relative;
    z-index: 3;
  }

  &.invalid .wpcf7-response-output {
    border-color: #dc3232 !important;
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    color: #dc3232;
  }

  &.sent {
    input.wpcf7-form-control[type=submit] {
      display: none;
    }

    .wpcf7-response-output {
      margin-top: -120px !important;
      border-color: green !important;
      color: green !important;
    }

  }
  
  .wpcf7-not-valid {
    border: 1px solid #dc3232 !important;
  }  
  
  .section-title {
    font-size: 1.5em;
  }
}

.wpcf7-form-control:focus,
.wpcf7-form-control:hover,
.wpcf7-form-control:valid {
  border-color: transparent !important;
}