.show--sm-down {
  @include media-breakpoint-up(sm) {
    display: none;
    visibility: hidden;
  }
}

.wrap--lg-down {
  @include media-breakpoint-down(lg) {
    flex-direction: column !important;

    & > div {
      width: 100% !important;
    }
  }
}

.wrap--xl-down {
  @include media-breakpoint-down(xl) {
    flex-direction: column !important;

    & > div {
      width: 100% !important;
    }
  }
}

.imagetoggle {
  .panel-last-child {
    display: none;
  }

  &:hover {
    .panel-last-child {
      display: block;
    }
    .panel-first-child {
      display: none;
    }
  }
}

.counter {
  p {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;

    strong {
      font-size: 3.3rem;
      font-style: normal;
      font-family: Gotham, sans-serif;
      font-weight: 200;
      line-height: 1.2;
      display: inline-block;
      color: #fff;
    }
  }
}

.home {
  .counter {
    strong {
      font-size: 5.7rem;
    }
  }
}

#virtual_showroom {
  .content {
    max-width: 1200px;
    border-radius: $r3;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.222);
    position: relative;

    img {
      border-radius: $r3 $r3 0 0;
    }
  }

  .hero {
    img {
      width: 200px;
      height: 240px;
    }
  }
}

.video-placeholder {
  .sow-image-container {
    position: relative;
    border-radius: 0 $r3;
    overflow: hidden;

    a {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $blau-dunkel;
        opacity: 0.333;
      }
      &:after {
        content: '';
        width: 40%;
        height: 40%;
        background-image: url(../images/icon-forward-white.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover:before {
        opacity: 0.777;
      }
    }
  }

  .widget-title {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    color: $blau-dunkel;
    font-weight: 600;
    font-size: 1.3em;
    text-transform: none;
    letter-spacing: 0.025em;
    margin-bottom: 1em;
  }
}

.box {
  .video-placeholder {
    .sow-image-container {
      border-radius: 0;
      overflow: initial;
    }

    .widget-title {
      color: $white;
      font-family: 'Encode Sans Expanded', sans-serif !important;
      font-size: 15px;
      line-height: 1.5;
      letter-spacing: 0;
      font-weight: 400;
    }
  }
}

.history-slider {
  padding-bottom: 70px;
  .widget {
    margin-bottom: 0 !important;
  }

  img {
    border-radius: 0 $r1 0 $r1;
    width: calc(100% - 20px);
  }

  p {
    line-height: 1.4;
    text-align: left;
    hyphens: auto;
    -webkit-hyphens: auto;
    min-height: 120px;
    margin-top: 1rem;
    padding-right: 30px;
  }

  h3 {
    font-size: 2.2em;
    font-family: Gotham, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 0.7;
    height: 80px;
    background-image: url(../images/history-steps.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 bottom;
  }

  .slick-prev,
  .slick-next:before {
    display: none !important;
  }

  .slick-next {
    background-image: url(../images/icon-forward.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 77px;
    height: 77px;
    top: initial;
    bottom: -90px;
    left: 50%;
    margin-left: -38.5px;
    -webkit-transform: none;
    transform: none;
  }
}

/* Fertigunsprozess */
#unser-fertigungsprozess,
#our-manufacturing-process {
  .grid {
    & > .panel-layout {
      & > .panel-grid {
        & > .panel-grid-cell {
          display: flex;
          flex-wrap: wrap;

          & > .widget {
            background-image: url(../images/prozess-scale.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 calc(100% + 50px);
            padding: 0 0 130px 0;
            margin-bottom: 0 !important;
            flex: 0 1 33.333%;

            @include media-breakpoint-down(xl) {
              flex: 0 1 50%;
            }

            @include media-breakpoint-down(md) {
              flex: 0 1 100%;
            }

            .box {
              overflow: visible;
              padding: 0 0 0 25%;
              position: relative;

              .widget {
                background-color: #fff;
                margin-bottom: 0 !important;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);

                &:first-child {
                  border-radius: 0 $r2 0 0;
                }

                &:last-child {
                  border-radius: 0 0 0 $r2;
                }

                img {
                  border-radius: 0 $r2 0 0;
                }

                .widget-title {
                  position: absolute;
                  bottom: -50px;
                  left: -90px;
                  width: 69px;
                  text-align: right;
                  font-size: 90px;
                  font-family: Gotham, sans-serif;
                  font-weight: 200;
                  line-height: 0.777;
                  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.222);
                  padding: 0 15px 77px 0;
                  border-right: 2px solid $blau-dunkel;

                  & + div {
                    padding: 20px 0;
                  }
                }

                .textwidget {
                  min-height: 120px;
                }

                p {
                  margin: 0;
                  padding-left: 20px;
                  line-height: 1.5;

                  strong {
                    display: block;
                    font-family: 'Encode Sans', sans-serif;
                    font-weight: 400;
                    text-align: left;
                    text-transform: uppercase;
                    margin-bottom: 0.333em;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    letter-spacing: 0.0777em;
                    word-spacing: 0.222em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#produktanfrage {
  h4 {
    color: $blau-dunkel;
    font-family: 'Encode Sans Expanded', sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.777em;
    font-weight: 400;
    letter-spacing: normal;
  }
}

// KARRIERE
#azubi-videos {
  .widget {
    margin-bottom: 7vh !important;
  }
}

#trainees_offer {
  .widget {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  strong {
    font-size: 1.777em;
    margin: 0.3em 0;
    display: block;
    text-align: center;
  }
}

.zertifikate-grid {
  .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    a {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p:nth-child(2) {
      margin-bottom: 2em;
    }

    > div {
      height: 100%;

      .textwidget {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    * {
      text-align: center !important;
      line-height: 1.5;
    }
  }
}

#kundenstimmen .slick-track {
  display: flex;
  align-items: center;
  padding-bottom: 50px;

  .slick-slide {
    padding: 20px;
    margin: 0 20px;
    border-radius: $r3 0;
    box-shadow: $box-hover-shadow;
    hyphens: auto;
    -webkit-hyphens: auto;

    .widget {
      margin-bottom: 0 !important;
    }

    p {
      line-height: 1.5;
      color: $blau-dunkel;
    }
  }
}

.final-row {
  p {
    position: relative;
    padding: 0 0 220px 0;

    @include media-breakpoint-up(md) {
      padding: 0 30% 0 0;
    }

    &:after {
      content: '';
      position: absolute;
      width: 150px;
      height: 150px;
      background-size: contain;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-up(md) {
        bottom: initial;
        top: 50%;
        left: 75%;
        transform: translateY(-50%);
      }
    }
  }
  &.p-icon-partner {
    p:after {
      background-image: url(../images/icons/icon-partner.svg);
    }
  }
}

svg[id^=sprech] {
  text {
    fill: #04204c !important;
    font-family: 'Encode Sans Expanded', sans-serif !important;
    font-size: 8px !important;
    font-weight: 700 !important;
    letter-spacing: 0.065em !important;
  }
}

#sprech-03 svg {
  @include media-breakpoint-down(sm) {
    min-width: 240px;
    max-width: 240px;
  }
}

#sprech-05 svg {
  @include media-breakpoint-down(sm) {
    min-width: 270px;
    max-width: 270px;
  }
}

div[id^='sprech-0'] {
  margin-bottom: -30px;
}

// Social sticky banner
#block-stickysocialbanner {
  position: fixed;
  z-index: 123;
  top: 33vh;
  right: 0;
  width: 64px;
  padding: 0;
  background-color: #fff;
  border-radius: $r2 0 0 $r2;
  box-shadow: $box-hover-shadow;

  div {
    margin: 18px 0;
    text-align: center;

    img {
      max-width: 36px;
    }
  }

  @include media-breakpoint-down(md) {
    top: 50vh;
    transform: translateY(-50%);
    width: 48px;
    border-radius: $r1 0 0 $r1;

    div {
      margin: 12px 0;

      img {
        max-width: 28px;
      }
    }
  }
}

.home {
  #block-stickysocialbanner {
    @include media-breakpoint-down(md) {
      top: 77vh;
      transform: none;
    }
  }
}

#pgc-1804-5-0 {
  position: relative;
}

#panel-1804-5-0-3,
#panel-2703-5-0-3 {
  @include media-breakpoint-down(sm) {
    background-color: $ivory-hell-1;
  }

  @include media-breakpoint-up(sm) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    div {
      height: 100%;
    }

    .textwidget {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        max-width: 550px;
      }
    }
  }
}

ul.li-box-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto !important;
  max-width: 465px;

  li {
    color: var($blau-mittel-3) !important;
    list-style: none;
    margin: 0 0 7px 0;
    background: #fff;
    padding: 7px 12px;
    border-radius: 12px 0 12px 0;
    box-shadow: 0 0 7px rgb(0 0 0 / 30%);
    width: 90%;

    &:before {
      content: none !important;
    }
  }
}

.single-post {
  ul.li-box-white li {
    margin-bottom: 21px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
