* {
   -moz-outline-style: none;
   outline-style: none;
   outline: none;
   box-sizing: border-box;
   background-origin: content-box;
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
}

