* {
  -moz-outline-style: none;
  outline-style: none;
  outline: none;
  box-sizing: border-box;
  background-origin: content-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#page-header + .panel-layout p > a[title=""],
.news-footer p > a[title=""] {
  color: $blau-dunkel;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid $blau-dunkel;
  line-height: 1;

  &:hover {
    color: $gold-dunkel;
    border-color: $gold-dunkel;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.shadowed {
  box-shadow: $box-hover-shadow;
}

.box {
  border-radius: 0 $r2 0 $r2;
  overflow: hidden;

  &.box-rounding-0 {
    border-radius: $r2 0 0 0;
  }

  &.stretch {
    height: 100%;
  }

  &.title-padding {
    .widget-title {
      padding: 1.5em 1em;
    }
  }
  .widget-title {
    padding: 0.5em 1em;
  }

  &.title-blue {
    .widget-title {
      background-color: $blau-dunkel;
      color: #fff;
      padding: 20px 40px 20px 20px;

      & + .textwidget {
        padding: 20px;

        ul {
          margin: 0 0 0 1em;
          padding: 0;
        }
      }
    }
  }

  &.title-rounding-x0x0 {
    .widget-title {
      border-radius: $r2 0 !important;
    }
  }

  &.title-inner {
    position: relative;
    .widget-title {
      position: absolute;
      z-index: 1;
    }
  }

  &.box-blue {
    padding: 30px 20px;

    &:not([class*="bg--"]) {
      background-color: $blau-dunkel;
    }

    * {
      color: #fff !important;
    }

    a {
      &.fancybox {
        border-bottom: 1px solid #fff;
        padding-bottom: 1px;
        font-weight: 700;

        &:hover {
          color: $blau-light-7 !important;
          border-bottom-color: $blau-light-7;
        }
      }
      &[href^="mailto"] {
        border-bottom: 1px solid #fff;
        padding-bottom: 1px;
        &:hover {
          color: $blau-light-7 !important;
          border-bottom-color: $blau-light-7;
        }
      }
    }

    a[href$="pdf"] {
      position: relative;
      padding-top: 30px;
      display: inline-block;

      &:before {
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url(../images/icons/icon-download-white.svg);
        background-size: contain;
        background-position: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover:before {
        background-image: url(../images/icons/icon-download-white-hover.svg);
      }
    }
  }
}

.rounded-3-0x0x {
  border-radius: 0 $r3 0 $r3;
  img {
    border-radius: 0 $r3 0 $r3;
  }
}

.rounded-2-0x0x {
  border-radius: 0 $r2 0 $r2;
  img {
    border-radius: 0 $r2 0 $r2;
  }
}

.rounded-3-x0x0 {
  border-radius: $r3 0 $r3 0;
  img {
    border-radius: $r3 0 $r3 0;
  }
}

.scale-15 {
  transform: scale(1.5);
}

.gallery {
  & > .panel-grid-cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
      max-width: 33.333%;
    }

    .widget {
      padding: 0 15px;
    }
  }
}

.grid {
  &.grid-auto {
    & > .panel-layout {
      & > .panel-grid {
        & > .panel-grid-cell {
          max-width: 1400px;
          margin: auto;

          .widget {
            width: auto;
            flex: 0 auto;
          }
        }
      }
    }
  }
  &.grid-center {
    & > .panel-layout {
      & > .panel-grid {
        & > .panel-grid-cell {
          justify-content: center;
        }
      }
    }
  }

  & > .panel-layout {
    & > .panel-grid {
      & > .panel-grid-cell {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .widget {
          flex: 0 1 31.777%;

          @include media-breakpoint-down(xl) {
            flex: 0 1 48%;
          }

          @include media-breakpoint-down(md) {
            flex: 0 1 100%;
            max-width: 365px;
            margin: 0 auto;
          }

          &.panel-last-child[data-index="6"],
          &.panel-last-child[data-index="9"] {
            margin: auto !important;
          }
        }
      }
    }
  }
  &.last-2-center {
    & > .panel-layout {
      & > .panel-grid {
        & > .panel-grid-cell {
          .widget:nth-last-child(2) {
            @include media-breakpoint-up(xl) {
              margin-left: auto !important;
              margin-right: 1.16725% !important;
            }
          }
          .widget:last-child {
            @include media-breakpoint-up(xl) {
              margin-right: auto !important;
              margin-left: 1.16725% !important;
            }
          }
        }
      }
    }
  }
}

.boxes {
  .widget {
    border-radius: 0 $r2 0 $r2;
    background-color: #fff;
    overflow: hidden;
    padding: 36px;

    * {
      color: $blau-dunkel;
      line-height: 1.7;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.box--light-waves {
  .widget {
    background-image: url(../images/bg-whitegray.jpg.webp);
    background-size: 460%;
    background-position: 95% 91%;
  }
}

// SO accordion widget
.so-widget-sow-accordion {
  * {
    background-color: transparent !important;
    color: $blau-dunkel;
  }
  .sow-accordion {
    .sow-accordion-panel {
      border-radius: 0 $r3 0 $r3;
      box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);
      margin: 21px 0 !important;
      transition-duration: 0.3s;

      &:last-child {
        margin-bottom: 0 !important;
      }

      &:hover {
        background-color: $blau-light-3 !important;
        border-radius: $r3 0 $r3 0;
      }

      .sow-accordion-panel-header {
        cursor: pointer;
        font-weight: bold;
        color: $blau-dunkel;
        padding: 18px 36px !important;

        .sow-accordion-title {
          color: $blau-dunkel;
        }
      }

      .sow-accordion-panel-border {
        padding: 0 36px 21px 36px !important;
      }
    }
  }
}

.panel-row-style {
  background-origin: border-box;
}

.ausbildung .sow-accordion-panel {
  background-color: $blau-light-2 !important;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;

  .so-widget-sow-editor {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.333s;
    transform-style: preserve-3d;
    min-height: 300px;

    .widget-title {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $blau-dunkel;
      color: white;
      border-radius: 0 36px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
      backface-visibility: hidden;
      font-size: 22px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
    }

    .textwidget {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ebeef4;
      color: $blau-light-3;
      transform: rotateY(180deg);
      border-radius: 36px 0;
      display: table;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;

      p {
        font-family: "Encode Sans", sans-serif;
        line-height: 1.6em;
      }
    }
  }

  &:hover .so-widget-sow-editor {
    transform: rotateY(180deg);
  }
}

.page-template-page-landingpage {
  #musterboxen {
    .hero-box,
    .hero-button-orange {
      max-width: 330px;
      margin: auto;
    }

    .panel-grid:nth-child(2) {
      margin-top: -50px;
    }
    .panel-grid-cell {
      .sow-image-container {
        margin-top: 70px;
      }

      & > .left {
        .sow-image-container {
          img {
            margin-bottom: -70px;
          }
        }
      }

      @include media-breakpoint-only(xl) {
        .panel-grid:nth-child(2) {
          margin-top: 70px;
        }
        .panel-grid-cell {
          .sow-image-container {
            margin-top: 70px;
            margin-bottom: -120px;
            min-height: 400px;
          }
          & > .left {
            .sow-image-container {
              img {
                transform: scale(1.5) translateX(-50px);
              }
            }
          }

          & > .right {
            .sow-image-container {
              img {
                transform: scale(1.5) translateX(0);
              }
            }
          }
        }
      }

      @include media-breakpoint-up(xxl) {
        .panel-grid:nth-child(2) {
          margin-top: 170px;
        }

        .panel-grid-cell {
          .sow-image-container {
            margin-top: 70px;
            margin-bottom: -200px;
            min-height: 500px;
          }

          & > .left {
            .sow-image-container {
              margin-top: 0;
              img {
                transform: scale(1.75) translate(-75px, 0);
              }
            }
          }

          & > .right {
            .sow-image-container {
              img {
                transform: scale(1.75) translate(25px, -20px);
              }
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
  
  &-mobile {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
