* {
  -moz-outline-style: none;
  outline-style: none;
  outline: none;
  box-sizing: border-box;
  background-origin: content-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#page-header + .panel-layout p > a[title=""],
.news-footer p > a[title=""] {
  color: $blau-dunkel;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid $blau-dunkel;
  line-height: 1;

  &:hover {
    color: $gold-dunkel;
    border-color: $gold-dunkel;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.box {
  border-radius: 0 $r2 0 $r2;
  overflow: hidden;

  .widget-title {
    padding: 0.5em 1em;
  }
  &.title-inner {
    position: relative;
    .widget-title {
      position: absolute;
      z-index: 1;
    }
  }

  &.box-blue {
    padding: 30px 20px;
    background-color: $blau-dunkel;

    * {
      color: #fff !important;
    }

    a {
      &.fancybox {
        border-bottom: 1px solid #fff;
        padding-bottom: 1px;
        font-weight: 700;

        &:hover {
          color: $blau-light-7 !important;
          border-bottom-color: $blau-light-7;
        }
      }
      &[href^=mailto] {
        border-bottom: 1px solid #fff;
        padding-bottom: 1px;
        &:hover {
          color: $blau-light-7 !important;
          border-bottom-color: $blau-light-7;
        }
      }
    }

    a[href$="pdf"] {
      position: relative;
      padding-top: 30px;
      display: inline-block;

      &:before {
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url(../images/icons/icon-download-white.svg);
        background-size: contain;
        background-position: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover:before {
        background-image: url(../images/icons/icon-download-white-hover.svg);
      }
    }
  }
}

.rounded-3-0x0x {
  border-radius: 0 $r3 0 $r3;
  img {
    border-radius: 0 $r3 0 $r3;
  }
}

.rounded-2-0x0x {
  border-radius: 0 $r2 0 $r2;
  img {
    border-radius: 0 $r2 0 $r2;
  }
}

.rounded-3-x0x0 {
  border-radius: $r3 0 $r3 0;
  img {
    border-radius: $r3 0 $r3 0;
  }
}

.gallery {
  & > .panel-grid-cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
      max-width: 33.333%;
    }

    .widget {
      padding: 0 15px;
    }
  }
}

.grid {
  & > .panel-layout {
    & > .panel-grid {
      & > .panel-grid-cell {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .widget {
          flex: 0 1 31.777%;

          @include media-breakpoint-down(xl) {
            flex: 0 1 48%;
          }

          @include media-breakpoint-down(md) {
            flex: 0 1 100%;
            max-width: 365px;
            margin: 0 auto;
          }

          &.panel-last-child[data-index="6"],
          &.panel-last-child[data-index="9"] {
            margin: auto !important;
          }
        }
      }
    }
  }
}

.boxes {
  .widget {
    border-radius: 0 $r2 0 $r2;
    background-color: #fff;
    overflow: hidden;
    padding: 36px;

    * {
      color: $blau-dunkel;
      line-height: 1.7;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.box--light-waves {
  .widget {
    background-image: url(../images/bg-whitegray.jpg.webp);
    background-size: 460%;
    background-position: 95% 91%;
  }
}

// SO accordion widget
.so-widget-sow-accordion {
  * {
    background-color: transparent !important;
  }
  .sow-accordion {
    .sow-accordion-panel {
      border-radius: 0 $r3 0 $r3;
      box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);
      margin: 21px 0 !important;
      transition-duration: 0.3s;

      &:last-child {
        margin-bottom: 0 !important;
      }

      &:hover {
        background-color: $blau-light-3 !important;
        border-radius: $r3 0 $r3 0;
      }

      .sow-accordion-panel-header {
        cursor: pointer;
        font-weight: bold;
        color: $blau-dunkel;
        padding: 18px 36px !important;
      }

      .sow-accordion-panel-border {
        padding: 0 36px 21px 36px !important;
      }
    }
  }
}

.ausbildung .sow-accordion-panel {
  background-color: $blau-light-2 !important;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;

  .so-widget-sow-editor {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.333s;
    transform-style: preserve-3d;
    min-height: 300px;

    .widget-title {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $blau-dunkel;
      color: white;
      border-radius: 0 36px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
      backface-visibility: hidden;
      font-size: 22px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
    }

    .textwidget {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ebeef4;
      color: $blau-light-3;
      transform: rotateY(180deg);
      border-radius: 36px 0;
      display: table;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;

      p {
        font-family: "Encode Sans", sans-serif;
        line-height: 1.6em;
      }
    }
  }

  &:hover .so-widget-sow-editor {
    transform: rotateY(180deg);
  }
}
