@import "_mixins";

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 501;
  height: auto;
  overflow: hidden;
  background-color: transparent;
  border-radius: 0 0 36px 36px;
  transition: all 0.5s ease;

  .site-logo {
    position: absolute;
    right: 5vw;
    z-index: 10000;
    top: 0;
    width: 240px;

    @include media-breakpoint-down(sm) {
      right: 50%;
      transform: translateX(50%);
      width: auto;

      img {
        max-height: 90px;
      }
    }

    img {
      max-width: 100%;
    }
  }

  &:hover,
  &.active {
    background-color: #fff;
    box-shadow: 0 0 30px -12px rgba(0, 0, 0, 0.3);
  }

  > div > .row > div {
    background-color: transparent;
    z-index: 2;
    border-radius: 0;
  }

  div.nav {
    border-radius: 0 0 0 $r3;
    transition: border-radius 0.333s;
  }
}

#nav-row {
  justify-content: flex-start;
  > div {
    width: auto;
  }
}

#nav-row div[class^="menu-hauptmenue"],
.menu-sprachmenue-container {
  position: relative;
  z-index: 12;
  padding: 68px 0rem 0 $pvw-3;

  .menu {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    list-style: none;

    @include min-desktop {
      flex-direction: row;
    }

    li.separator {
      display: none;
      position: absolute;
      right: 0;
      background-color: #fff;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
      border-radius: $r1 0 $r1 0;
      padding: 6px 21px 6px 12px;
      z-index: 100;
      margin-right: -7px;

      &:after {
        content: "";
        cursor: pointer;
        position: absolute;
        top: -12px;
        right: -12px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #fff;
        background-image: url(../images/icons/icon-x.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.show {
        display: block;
      }
    }

    li.menu-item:last-child {
      width: 21px;
      height: 30px;
      background-image: url(../images/icons/icon-phone.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      a {
        font-size: 0;
        line-height: 0;
        display: block;
        height: 100%;
      }
    }

    a {
      display: block;
      color: $blau-dunkel;
      text-transform: uppercase;
      font-family: "Encode Sans", sans-serif;
      font-weight: 400;
      font-size: 13.75px;
      padding: 7px 12px;
      letter-spacing: 0.05em;

      &:hover {
        color: $gold !important;
      }
    }
  }

  .nav-desktop {
    position: absolute;
    z-index: 1 !important;
    background: #fff;
    box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.3);
    padding: 130px 0 0 0;
    height: 530px;
    top: 0;
    transition: all 0.5s;
    border-radius: 0 0 36px 36px;
    opacity: 0;
  }
}

.menu-sprachmenue-container {
  padding-left: 48px;
  .menu {
    padding: 7px;

    a {
      padding: 0 7px;
    }

    li.menu-item {
      &.current-lang {
        a {
          font-weight: 700;
        }
      }
      &:last-child {
        width: auto;
        height: auto;
        background-image: initial;

        a {
          font-size: 13.75px !important;
          list-style: inherit;
          line-height: 1.5;
          padding: 0 7px;
          border-left: 1px solid $blau-dunkel;
        }
      }
    }
  }
}

#desktop-menu {
  z-index: 1 !important;
  background: #fff;
  box-shadow: 0 30px 33px 0 rgba(0, 0, 0, 0.1);
  padding: 0 3vw;
  top: 0;
  transition: all 0.5s;
  border-radius: 0 0 $r3 $r3;
  opacity: 0;
  height: 0;
  overflow: hidden;

  &.show {
    height: auto;
    background: -moz-linear-gradient(top, #ffffff 130px, #c9d1db 100%);
    background: -webkit-linear-gradient(top, #ffffff 130px, #c9d1db 100%);
    background: linear-gradient(to bottom, #ffffff 130px, #c9d1db 100%);
    opacity: 1;

    .panel-layout {
      padding: 30px 12px 12px 12px;

      & > .panel-grid {
        height: 0;
        overflow: hidden;
        transform: translateX(-100%);
        transition: transform 0.3s;
        margin-bottom: 0;

        &.active {
          border-top: 1px solid #c9d1db;
          padding: 30px 0;
          position: relative;
          height: auto;
          z-index: 3;
          transform: translateX(0);
          height: auto;
        }
      }
    }
  }
}

.mainnav-desktop {
  justify-content: flex-start !important;
  top: 0;

  .widget-title {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 7px;
    margin-left: 1px;
    line-height: 1.5;
    transition: all 0.5s;
    white-space: nowrap;
  }

  .sow-image-container img {
    border-top-right-radius: $r0;
    border-bottom-left-radius: $r0;
    text-align: end;
  }

  .panel-grid-cell {
    max-width: 210px;
    margin-right: 30px;

    &.wide {
      max-width: 450px;

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    & .widget {
      img {
        transition-duration: 0.3s;
      }
      &:hover {
        .widget-title {
          color: #001e4b;
          margin-left: -1px;
          text-shadow: 0 0 1px #001e4b;
          letter-spacing: 0.05em;
        }
        img {
          box-shadow: 0 12px 24px -3px rgba(0, 0, 0, 0.2);
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: $r0;
          border-bottom-right-radius: $r0;
        }
      }
    }
  }
}

#mobile-menu {

  line-height: 3em;
  padding: 30px;

  & * {
    font-size: 16px;
  }
  ul, li {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;    
  }

  a {
    font-family: 'Encode Sans', sans-serif;
    color: $blau-dunkel;
    text-transform: uppercase;
  }

  .hamburger {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-size: 100% 100%;
    background-image: url(../images/hamburger.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;

    &.open {
      background-image: url(../images/icons/icon-x-blank.svg);
    }
  }

  #menu-mobile-menu {
    display: none;
    margin: 30px 0 0 8px;
  }

  .sub-menu {
    display: none;
    margin-bottom: 1em;

    &.show {
      display: block;
    }

    li {
      margin: 0 0 0 1em;
      line-height: 2em;      
    }

    a {
      display: block;
      position: relative;
      padding-left: 24px;
      text-transform: none;

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 12px;
        background: transparent;
        transform: rotate(135deg);
        text-indent: -9999px;
        border-top: 1px solid #7d8ca3;
        border-left: 1px solid #7d8ca3;
        color: transparent;
        left: 0px;
        top: 10px;
      }
    }
  }

  .lang-item {
    display: inline-block;
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 38px;
    height: 40px;
    text-align: center;
    margin-top: 21px;

    &.lang-item-first {
      margin: 0 8px 0 -8px;
    }
  }
}