.sow-slider-image-wrapper {
  position: relative;
}

.landing-hero-box,
.hero-box {
  @include media-breakpoint-down(sm) {
    transform: scale(0.825);
    padding: 20px 50px;
    width: 280px;
    margin-left: 40px;

    &.no-scale {
      transform: scale(1);
    }
  }

  .title {
    text-transform: uppercase;
    font-family: Gotham;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 0.5em;
    color: $white;
  }

  &.bg--dark {
    a.pink {
      position: relative;

      &:before {
        top: initial;
        bottom: -110px;
        left: -5px;
        right: initial;
        background-image: url(../images/icons/icon-hero-circle-arrow-pink.svg);
      }
    }
    &:after {
      border-color: transparent $dark transparent transparent;
    }

    @include media-breakpoint-down(sm) {
      width: 300px;
      padding: 24px !important;

      .title {
        max-width: 160px;
      }

      .link {
        a.pink {
          &:before {
            top: 30px;
            bottom: initial;
            left: initial;
            right: -90px;
          }
        }
      }
    }
  }

  &.bg--blau-dunkel {
    * {
      color: $white;
    }

    h4 {
      font-size: 1.4em;
      text-align: left;
      font-weight: 300;
      letter-spacing: 0.05em;
      padding: 1.5em 0 0;
    }
  }

  padding: 14px 34px 14px 44px;
  width: 260px;

  background-color: $blau-dunkel;
  border-radius: 0 $r3 0 $r3;
  position: sticky;
  z-index: 100;
  left: 0;
  bottom: 0;
  text-align: left !important;

  & ul {
    display: block;
    margin: 1em 0em 1em -21px !important;
    padding: 0;

    li {
      display: block;
      position: relative;
      padding: 0 0 0 21px;
      color: $white;

      &:before {
        content: '+' !important;
        font-family: initial !important;
        font-size: 1em !important;
        line-height: 0.8em !important;
      }
    }
  }

  p {
    color: #fff;
    line-height: 1.5;
    margin-bottom: 1em;

    a,
    & > strong {
      color: $blau-light-7;
      text-transform: uppercase;
      font-family: Gotham;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 0.5em;
      max-width: 200px;

      text-decoration: none;
      padding-right: 0.25em;
      position: relative;
      line-height: 1.4em;
      display: inline;
      white-space: pre-wrap;
    }

    a {
      background-color: $gold;
      border: 0 solid $gold;
      border-width: 0.25em 0;
      text-decoration: none;
      padding-right: 0.25em;
      position: relative;
      color: #fff;
      line-height: 1.4em;
      display: inline;
      white-space: pre-wrap;

      &.pink {
        background-color: $pink;
        border-color: $pink;

        &:after {
          background-color: $pink;
        }
      }

      &:before {
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 55px;
        height: 55px;
        right: -90px;
        background-image: url(../images/icons/icon-hero-circle-arrow.svg);
      }

      &:after {
        content: '';
        position: absolute;
        top: -0.25em;
        left: -0.22em;
        bottom: -0.23em;
        width: 0.25em;
        background-color: $gold;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -48px;
    right: 0;
    width: 0px;
    height: 0px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent $blau-dunkel transparent transparent;
  }

  &.muster {
    width: 295px;
    padding: 30px 30px 120px 30px;

    &.no-angle {
      &:before,
      &:after {
        content: initial;
      }

      a {
        background-color: $pink;
        margin: 70px 0 0 -30px;

        span {
          background-color: $dark;
        }
      }
    }

    &:after {
      top: -48px;
      right: initial;
      left: 0;
      transform: rotate(180deg);
    }

    &.bg--ivory-hell-3 {
      *:not(a, a span) {
        color: $gold-dunkel !important;
      }
      &:after {
        border-color: transparent $ivory-hell-3 transparent transparent;
      }
    }

    p:not(.bold) {
      text-transform: uppercase;
      font-family: Gotham;
      font-weight: 500;
      font-size: 22px;
      line-height: 1.4em;
      margin-bottom: 0.25em;
    }

    p {
      &.bold {
        font-weight: 700;
      }
    }

    & + img {
      max-width: 255px;
      margin: -90px 0 0 20px;
      position: relative;
      z-index: 101;
    }
    &.text-normal {
      display: grid;
      width: 330px;
      margin: auto;
      padding-bottom: 0;
      @include media-breakpoint-up(md) {
        min-height: 461px;
      }

      * {
        color: #fff;
      }

      p {
        font-size: 1em;
        text-transform: none;
        font-family: $font-body;
        font-size: $font-size-default;
      }
      .widget-title {
        font-family: Gotham;
        font-weight: 300;
        font-size: 1.333em;
        text-transform: uppercase;
        margin-bottom: 1em;
      }
    }
  }
}

.page-id-1675,
.page-id-2747 {
  @include media-breakpoint-up(md) {
    .hero-box {
      min-height: 512px !important;

      .textwidget {
        height: 90%;
        display: flex;
        flex-direction: column;

        p:first-child {
          text-transform: none !important;
          font-weight: 700;
        }

        p:last-child {
          margin: auto 0 70px 0;
        }
      }
    }
  }
}

.home #produktanfrage-box {
  max-width: 260px;

  @media (min-width: 1600px) {
    margin: -320px auto 0 auto;
    transform: translateX(610px);
  }
  @media (max-width: 1599.99px) {
    margin: 0 auto 12vh;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 3vh;
  }
}

#musterbox-box {
  max-width: 295px;
  margin-top: -100px;
  @include media-breakpoint-down(xl) {
    margin-top: -150px;
    margin-bottom: 100px;
  }
  @include media-breakpoint-down(sm) {
    transform: scale(0.825);
    margin-bottom: -110px;
    margin-left: -20px;

    img {
      margin-top: -120px;
    }
  }
}

.landing-hero-box {
  width: 330px;
  padding: 40px;

  div.first {
    margin-bottom: 40px;
  }

  p {
    color: $blau-light-7;
    text-transform: uppercase;
    font-family: Gotham;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 0.5em;
    max-width: 200px;
    position: relative;

    a {
      position: initial !important;
      background-color: $orange;
      border-color: $orange;

      &:before {
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 65px;
        height: 65px;
        right: -65px;
        background-image: url(../images/icons/icon-landing-hero-circle-arrow.svg);
      }

      &:after {
        background-color: $orange;
        top: -0.16em;
        bottom: -0.15em;
      }
    }
  }
}

.page-template-page-landingpage-gold {
  .hero-box.muster.bg--ivory-hell-3 {
    background-color: $ivory-hell-1 !important;
    box-shadow: $box-hover-shadow;
    min-width: 340px;
    padding-bottom: 0 !important;
    margin: auto;

    p {
      font-size: 1em;
    }

    ul {
      margin-bottom: 0 !important;
    }
    strong,
    li {
      color: $dark !important;
      text-transform: none !important;
      font-size: 1em !important;
    }

    a {
      max-width: 340px;
      @include media-breakpoint-down(sm) {
      }

      &:hover {
        background-color: $dark !important;
      }

      span {
        background-color: $dark !important;
        color: #fff;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 24px;

      a {
        margin-left: -24px;
      }
    }
  }
}
