.sow-slider-image-wrapper {
  position: relative;
}

.landing-hero-box,
.hero-box {
  padding: 14px 34px 14px 44px;
  width: 260px;

  background-color: $blau-dunkel;
  border-radius: 0 $r3 0 $r3;
  position: sticky;
  z-index: 100;
  left: 0;
  bottom: 0;
  text-align: left !important;

  & ul {
    display: block;
    color: #fff;
    margin: 1em 0em 1em -21px !important;
    padding: 0;

    li {
      display: block;
      position: relative;
      padding: 0 0 0 21px;

      &:before {
        content: "+" !important;
        font-family: initial !important;
        font-size: 1em !important;
        line-height: 0.8em !important;
      }
    }
  }

  p {
    color: #fff;
    line-height: 1.5;
    margin-bottom: 1em;

    a,
    & > strong {
      color: $blau-light-7;
      text-transform: uppercase;
      font-family: Gotham;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 0.5em;
      max-width: 200px;

      text-decoration: none;
      padding-right: 0.25em;
      position: relative;
      line-height: 1.4em;
      display: inline;
      white-space: pre-wrap;
    }

    a {
      background-color: $gold;
      border: 0 solid $gold;
      border-width: 0.25em 0;
      text-decoration: none;
      padding-right: 0.25em;
      position: relative;
      color: #fff;
      line-height: 1.4em;
      display: inline;
      white-space: pre-wrap;
      border: 0 solid $gold;
      border-width: 0.25em 0;

      &:before {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 55px;
        height: 55px;
        right: -80px;
        background-image: url(../images/icons/icon-hero-circle-arrow.svg);
      }

      &:after {
        content: "";
        position: absolute;
        top: -0.25em;
        left: -0.22em;
        bottom: -0.23em;
        width: 0.25em;
        background-color: $gold;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -48px;
    right: 0;
    width: 0px;
    height: 0px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent $blau-dunkel transparent transparent;
  }

  &.muster {
    width: 295px;
    padding: 30px 30px 120px 30px;

    &:after {
      top: -48px;
      right: initial;
      left: 0;
      transform: rotate(180deg);
    }

    p {
      text-transform: uppercase;
      font-family: Gotham;
      font-weight: 500;
      font-size: 22px;
      line-height: 1.4em;
      margin-bottom: 0.25em;
    }

    & + img {
      max-width: 255px;
      margin: -90px 0 0 20px;
      position: relative;
      z-index: 101;
    }
  }
}

.home #produktanfrage-box {
  max-width: 260px;

  @media (min-width: 1600px) {
    margin: -320px auto 0 auto;
    transform: translateX(610px);
  }
  @media (max-width: 1599.99px) {
    margin: 0 auto 12vh;
  }
}

#musterbox-box {
  max-width: 295px;
  margin-top: -100px;
}

.home #musterbox-box {
  @media (min-width: 1600px) {
    margin: -120px auto -120px;
    transform: translateX(-610px);
  }
  @media (max-width: 1599.99px) {
    margin: -70px auto 7vh;
  }
}

.landing-hero-box {
  width: 330px;
  padding: 40px;

  div.first {
    margin-bottom: 40px;
  }

  p {
    color: $blau-light-7;
    text-transform: uppercase;
    font-family: Gotham;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 0.5em;
    max-width: 200px;
    position: relative;

    a {
      position: initial !important;
      background-color: $orange;
      border-color: $orange;

      &:before {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 65px;
        height: 65px;
        right: -65px;
        background-image: url(../images/icons/icon-landing-hero-circle-arrow.svg);
      }

      &:after {
        background-color: $orange;
        top: -0.16em;
        bottom: -0.15em;
      }
    }
  }
}
