.sow-slider-image-wrapper {
  position: relative;
}

.landing-hero-box,
.hero-box {
  padding: 14px 34px 14px 44px;
  width: 260px;

  background-color: $blau-dunkel;
  border-radius: 0 $r3 0 $r3;
  position: sticky;
  z-index: 100;
  left: 0;
  bottom: 0;
  text-align: left !important;

  & ul {
    display: block;
    color: #fff;
    margin: 1em 0em 1em -21px !important;
    padding: 0;

    li {
      display: block;
      position: relative;
      padding: 0 0 0 21px;

      &:before {
        content: "+" !important;
        font-family: initial !important;
        font-size: 1em !important;
        line-height: 0.8em !important;
      }
    }
  }

  p {
    color: #fff;
    line-height: 1.5;
    margin-bottom: 1em;

    a,
    & > strong {
      color: $blau-light-7;
      text-transform: uppercase;
      font-family: Gotham;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 0.5em;
      max-width: 200px;

      text-decoration: none;
      padding-right: 0.25em;
      position: relative;
      line-height: 1.4em;
      display: inline;
      white-space: pre-wrap;
    }

    a {
      background-color: $gold;
      border: 0 solid $gold;
      border-width: 0.25em 0;
      text-decoration: none;
      padding-right: 0.25em;
      position: relative;
      color: #fff;
      line-height: 1.4em;
      display: inline;
      white-space: pre-wrap;
      border: 0 solid $gold;
      border-width: 0.25em 0;

      &:before {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 55px;
        height: 55px;
        right: -80px;
        background-image: url(../images/icons/icon-hero-circle-arrow.svg);
      }

      &:after {
        content: "";
        position: absolute;
        top: -0.25em;
        left: -0.22em;
        bottom: -0.23em;
        width: 0.25em;
        background-color: $gold;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -48px;
    right: 0;
    width: 0px;
    height: 0px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent $blau-dunkel transparent transparent;
  }

  &.muster {
    width: 295px;
    padding: 30px 30px 120px 30px;

    &:after {
      top: -48px;
      right: initial;
      left: 0;
      transform: rotate(180deg);
    }

    &.bg--ivory-hell-3 {
      *:not(a, a span) {
        color: $gold-dunkel !important;
      }
      &:after {
        border-color: transparent $ivory-hell-3 transparent transparent;
      }
    }

    p {
      text-transform: uppercase;
      font-family: Gotham;
      font-weight: 500;
      font-size: 22px;
      line-height: 1.4em;
      margin-bottom: 0.25em;
    }

    & + img {
      max-width: 255px;
      margin: -90px 0 0 20px;
      position: relative;
      z-index: 101;
    }
    &.text-normal {
      display: grid;
      width: 330px;
      margin: auto;
      padding-bottom: 0;
      @include media-breakpoint-up(md) {
        min-height: 461px;
      }

      * {
        color: #fff;
      }

      p {
        font-size: 1em;
        text-transform: none;
        font-family: $font-body;
        font-size: $font-size-default;
      }
      .widget-title {
        font-family: Gotham;
        font-weight: 300;
        font-size: 1.333em;
        text-transform: uppercase;
        margin-bottom: 1em;
      }
    }

    &.list-plus {
      &.bg--ivory-hell-3 {
        ul {
          @include media-breakpoint-up(md) {
            margin-bottom: 148px !important;
          }
        }
      }

      p {
        strong {
          font-family: $font-body;
          font-size: $font-size-default;
          font-weight: 700;
          text-transform: none;
          color: #fff;
        }
      }

      ul {
        margin: 12px 0 0 0 !important;

        li:before {
          font-family: Gotham !important;
          font-weight: 900;
          top: 5px;
        }
        li:last-child {
          margin-bottom: 0;
        }

        + p {
          a {
            font-family: Gotham;
            font-weight: 300;
            display: block;
            margin: 60px -30px 0 -30px;
            padding: 15px 15px 13px 15px;
            width: calc(100% + 60px);
            max-width: initial;
            text-align: center;
            border: none;
            border-radius: 0 $r2;
            position: relative;
            cursor: pointer;

            &:hover {
              background-color: $gold-dunkel !important;
            }

            &:before,
            &:after {
              content: initial;
            }

            & > span {
              position: absolute;
              top: -35px;
              left: 50%;
              padding: 2px 20px 0;
              transform: translateX(-50%);
              line-height: 33px;
              font-size: 18px;
              font-weight: 900;
              background-color: $gold-dunkel;
              border-radius: $r1 $r1 0 0;
            }

            &[href*="classic"] {
              background-color: $blau-mittel-1;
            }
          }
        }
      }
    }
  }
}

.home #produktanfrage-box {
  max-width: 260px;

  @media (min-width: 1600px) {
    margin: -320px auto 0 auto;
    transform: translateX(610px);
  }
  @media (max-width: 1599.99px) {
    margin: 0 auto 12vh;
  }
}

#musterbox-box {
  max-width: 295px;
  margin-top: -100px;
}

.home #musterbox-box {
  @media (min-width: 1600px) {
    margin: -120px auto -120px;
    transform: translateX(-610px);
  }
  @media (max-width: 1599.99px) {
    margin: -70px auto 7vh;
  }
}

.landing-hero-box {
  width: 330px;
  padding: 40px;

  div.first {
    margin-bottom: 40px;
  }

  p {
    color: $blau-light-7;
    text-transform: uppercase;
    font-family: Gotham;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 0.5em;
    max-width: 200px;
    position: relative;

    a {
      position: initial !important;
      background-color: $orange;
      border-color: $orange;

      &:before {
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 65px;
        height: 65px;
        right: -65px;
        background-image: url(../images/icons/icon-landing-hero-circle-arrow.svg);
      }

      &:after {
        background-color: $orange;
        top: -0.16em;
        bottom: -0.15em;
      }
    }
  }
}

.hero-button-orange,
.hero-button-gold,
.hero-button-ivory {
  .textwidget {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0 auto;
      background-color: $blau-dunkel;
      color: $orange;
      padding: 7px 30px 3px;
      text-transform: uppercase;
      border-radius: $r2 $r2 0 0;
      font-family: Gotham, sans-serif;
      font-weight: 800;

      &:last-child {
        margin: 0 auto;
        background-color: $orange;
        padding: 15px 0;
        border-radius: 0 $r3;
        font-family: "Gotham";
        font-weight: 300;
        width: 100%;
      }
    }

    a {
      font-size: 1.5em;
      text-transform: uppercase;
      text-decoration: none !important;
      border: none !important;
      padding: 0 !important;
      color: #fff !important;
      display: block;
      text-align: center !important;
    }
  }
  &.outline {
    p:last-child {
      background-color: transparent;
      border: 1px solid $orange;
    }
  }
}

.hero-button-gold {
  .textwidget {
    p {
      &:last-child {
        background-color: $gold-dunkel;
      }
      &:hover {
        background-color: $gold !important;
        a {
          color: #fff !important;
        }
      }
    }
  }
  &.outline {
    p:last-child {
      background-color: transparent;
      border: 1px solid $gold-dunkel;
    }
  }
}

.hero-button-ivory {
  .textwidget {
    p {
      &:last-child {
        background-color: $ivory-hell-4;
      }
    }
  }
  &.outline {
    p:last-child {
      background-color: transparent;
      border: 1px solid $ivory-hell-4;
      a {
        text-transform: none;
        font-weight: 900;
        color: $ivory-hell-4 !important;
      }
      &:hover {
        background-color: $ivory-hell-4 !important;
        a {
          color: #fff !important;
        }
      }
    }
  }
}
