html .page-template-page-landingpage {
  @include media-breakpoint-down(sm) {
    #page-header {
      min-height: 400px;
      max-height: 400px;
      height: auto;

      & + .panel-layout {
        margin-top: 400px;
      }

      .header-text {
        top: 15px;
        left: 0;

        h1 {
          font-family: Gotham, sans-serif;
          font-size: 14px;
          font-weight: 700;
          text-align: left;
        }
      }
    }

    .landing-hero-box {
      width: 310px;
      transform: scale(0.7);
      float: right;
      margin-right: -44px;
      padding-bottom: 36px !important;

      * {
        text-align: left !important;
      }
    }

    .hero-box {
      &.muster {
        padding-bottom: 100px !important;

        ul {
          line-height: 1.1em;
        }

        h4,
        p {
          text-align: left !important;
          padding-top: 0 !important;
        }
      }
    }

    #block-stickysocialbanner {
      top: 73vh;
    }

    .header-icon {
      display: block;
      margin: -9% 0 0 -30% !important;
    }

    h2,
    p {
      text-align: center !important;
    }
  }
}
