[class*="content--"] {
  width: 100%;
  margin: auto !important;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) and (max-width: 991px) {
  [class^="content--"] {
    max-width: 95%;
  }
}

@media (max-width: 575px) {
  [class^="content--"] {
    max-width: 100%;
  }
}

.site-footer {
  margin: auto 0 0 0;

  * {
    font-family: "Encode Sans Expanded", sans-serif;
    color: #f8f5f3;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }

  & > div {
    & > .widget {
      flex: 1;
    }  
  }

  .separator {
    display: inline-block;  
    margin: 0 12px;
  }

  #footer-menu {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: end;

      li {
        list-style: none;
        margin: 0;
        padding: 0 0 0 30px;
      }
    }
  }
}

.content--max {
  max-width: 1400px;
}

.content--xxxl {
  max-width: 1200px;
  margin: auto;
}


.content--xxl {
  max-width: 960px;
  margin: auto;
}

.content--xl {
  max-width: 910px;
}

.content--lg {
  max-width: 750px;
}

.content--md {
  max-width: 650px;
}

.content--sm {
  max-width: 560px;
}

.content--xs {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.content--xxs {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

html {
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 992px;
  position: relative;
  margin: 0 auto;
}

#main {
  > .panel-layout {
    > .panel-grid {
      position: relative;      
    }
    > .panel-grid:first-child {
      z-index: -1;
    }
  }
}

.panel-row-style {
  scroll-margin-top: 120px;
}

.stil--gray {
  background: radial-gradient(
      30vw circle at 90% 70%,
      $blau-light-5,
      transparent
    ),
    radial-gradient(30vw circle at 0% 90%, $blau-light-5, transparent),
    radial-gradient(at 0% 0%, $blau-light-1, $blau-light-4);
}

.stil--silver {
  background: radial-gradient(circle farthest-corner at 40% 0, #fff, $blau-light-2);
}

.siteorigin-panels-stretch {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.single-video .sow-video-wrapper {
  width: 76%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.single-video iframe {
  border-radius: 0 $r3 0 $r3;
  margin: auto;
}