#page-header {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(sm) {
    h1 {
      max-width: 300px;
    }
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 67vh;
  z-index: -1;

  overflow: hidden;

  .header-image,
  .header-video {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: initial;
    width: auto;
    height: auto;

    @include media-breakpoint-down(sm) {
      max-height: 100%;
    }
  }

  .header-text {
    position: absolute;
    z-index: 1;
    padding-left: 21px;
    padding-right: 21px;
  }

  + .panel-layout {
    margin-top: 67vh;
  }
}

#pg-1526-7 > .panel-row-style {
  @include media-breakpoint-down(md) {
    background-position: 70% !important;
  }
}

.page-id-1526 div#page-header {
  @include media-breakpoint-down(md) {
    min-height: 68vh;
  }
}

#tech-grid {
  .widget-title + .textwidget {
    background-image: url(../images/icons/icon-x.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 95% calc(100% + 7px);
  }

  .box {
    &:hover {
      .panel-layout {
        border-radius: 0 $r3;

        .widget-title {
          background: transparent !important;

          & + .textwidget {
            p:first-child {
              color: $white !important;
            }
            p:last-child {
              color: $blau-dunkel !important;
            }
          }
        }

        .sow-image-container {
          background-color: $blau-dunkel;
          border-radius: 0 $r2 0 0;
          overflow: hidden;

          img {
            opacity: 0;
          }
        }

        .textwidget {
          background-color: $blau-dunkel;
          border-radius: 0 0 0 $r2;
        }
      }
    }
  }
}

.postid-239,
.postid-398 {
  @include media-breakpoint-down(sm) {
    #pg-239-4,
    #pg-239-5,
    #pg-239-6 {
      margin-bottom: 0px !important;
    }

    .mobile-2-col {
      & > .panel-grid-cell {
        width: calc(50% - 7px) !important;
      }

      * {
        hyphens: auto !important;
      }

      .panel-widget-style {
        height: 100%;
      }

      .widget-title {
        font-weight: 700;
        padding: 7px 14px !important;
        display: flex;
        align-items: center;
      }

      .title-h-60 {
        .widget-title {
          height: 60px;
        }
      }

      .textwidget {
        padding: 14px !important;
      }      
    }
  }

  #pg-239-12 {
    .kombi {
      * {
        font-size: 13px !important; 
      }
      & > div:last-child {
        .panel-cell-style {
          div:nth-child(1) {
            margin: 0 0 auto !important;
          }
          div:nth-child(2) {
            margin: auto 0 !important;
          }
          div:nth-child(3) {
            margin: auto 0 0 !important;
          }
        }
      }
      .panel-grid-cell:first-child:after {
        right: 12px;
        top: 50%;
        left: initial;
        bottom: initial;
        transform: translate(0%, 0);
        width: 50px;
        height: 50px;
        background-size: 36px;
      }
    }
  }
}
