@import 'variables.scss';

.product--header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 25vh;
  left: 0;
  max-width: 100vw;
  height: 75vh;
  z-index: -1;
  padding: 0;
  margin: 0;
  overflow: hidden;

  background-size: cover;
  background-position: center bottom;

  @include media-breakpoint-down(sm) {
    height: 50vh;
  }

  & + #produktanfrage {
    height: 150px;
    svg {
      transform: translateY(-150px);

      @include media-breakpoint-down(sm) {
        transform: scale(.7) translateY(-180px);
        margin-left: -30px;
      }

      polygon {
        fill: $gold;
      }
    }
    a:hover {
      polygon {
        fill: $gold-dunkel !important;
      }
    }
  }
}

.produktdaten {
  .panel-grid-cell {
    display: flex;
    flex-direction: column;
    align-self: normal;

    .widget {
      &.panel-last-child {
        flex: 1;
      }
      .so-widget-sow-editor {
        &:not(.icon) {
          height: 100%;
          background-color: $blau-light-1;
          border-radius: $r1 0 $r1 0;

          .widget-title {
            padding: 20px 40px 20px 24px;
            text-align: left;
            border-radius: $r1 0 $r1 0;
            background-color: $blau-dunkel;
            color: #fff;
            position: relative;
            z-index: 1;
          }
        }
      }
      .icon {
        .widget-title {
          font-size: 1.8rem;
          margin-top: 1rem;
          text-transform: uppercase;
          letter-spacing: 3px;
          text-align: center;
          font-weight: 300;
        }
      }
    }

    ul {
      padding-left: 1rem;
      margin-bottom: 0;
    }
  }

  .textwidget {
    padding: 24px 24px 18px 24px;
    text-align: left;
    position: relative;
    z-index: 0;

    p {
      margin: 0 0 1em;
      line-height: 1.5;
    }
    ul {
      margin-top: 0;
      line-height: 1.5;
    }
  }

  .gold {
    .widget-title {
      background-color: $gold-dunkel !important;
    }
    .so-widget-sow-editor:not(.icon) {
      background-color: $ivory-hell-1 !important;
    }
  }
}

.kombi {
  font-size: 0.85rem;

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap !important;
  }

  a {
    color: $blau-dunkel;
  }

  .panel-grid-cell:first-child {
    position: relative;

    img {
      border-radius: 0 $r3 0 $r3 !important;
      box-shadow: $box-shadow;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 12;
      top: 50%;
      margin-top: -33px;
      right: 0;
      margin-right: -48px;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background-color: #fff;
      background-image: url(../images/icons/icon-plus-blank.svg);
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: inset 10px 0px 7px -7px rgba(0, 0, 0, 0.1),
        inset -10px 0px 7px -7px rgba(0, 0, 0, 0.1);

      @include media-breakpoint-down(md) {
        top: initial;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(50% + 15px));
      }
    }
  }

  .panel-grid-cell {
    margin-bottom: 0 !important;

    &:nth-child(1) {
      img {
        width: 100vw !important;
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-down(md) {
        margin-top: 24px;
      }
      @include media-breakpoint-between(md, xxxl) {
        padding-right: 12px;
      }
    }
    &:last-child {
      margin-top: 0;
    }
    &:nth-child(3) {
      @include media-breakpoint-between(md, xxxl) {
        padding-left: 12px;
      }
      @include media-breakpoint-between(sm, md) {
        display: flex;
        .so-panel {
          font-size: 0.8em;

          &:nth-child(2) {
            margin-left: 21px !important;
            margin-right: 21px !important;
          }
        }
      }
      @include media-breakpoint-down(sm) {
        margin-top: 21px;
      }
    }

    .so-panel:hover a {
      text-decoration: underline;
    }

    .so-panel:first-child img {
      border-radius: $r2 0 $r2 0;
    }
    .so-widget-sow-image {
      position: relative;

      img {
        border-radius: 0 $r2 0 $r2;
        box-shadow: $box-shadow;
      }

      .widget-title {
        position: absolute;
        bottom: 7px;
        padding-left: 1em;
      }
    }
    @include media-breakpoint-down(md) {
      .panel-cell-style {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;

        .so-panel:nth-child(2) {
          margin-left: 21px !important;
          margin-right: 21px !important;
        }
      }

      @include media-breakpoint-down(sm) {
        .panel-cell-style {
          flex-direction: column;

          .so-panel:nth-child(2) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            font-size: 1em;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    * {
      font-size: 11.5px !important; 
    }
    & > div:last-child {
      .panel-cell-style {
        div:nth-child(1) {
          margin: 0 0 auto !important;
        }
        div:nth-child(2) {
          margin: auto 0 !important;
        }
        div:nth-child(3) {
          margin: auto 0 0 !important;
        }
      }
    }
    .panel-grid-cell:first-child:after {
      right: 12px;
      top: 50%;
      left: initial;
      bottom: initial;
      transform: translate(0%, 0);
      width: 50px;
      height: 50px;
      background-size: 36px;
    }
  }

  &.no-plus {
    .panel-grid-cell:first-child:after {
      content: none;
    }
  }
}

.stil--gray .kombi .panel-grid-cell:first-child:after {
  background-color: $blau-light-3;
}

.stil--gray
  .produktdaten
  .panel-grid-cell
  .widget
  .so-widget-sow-editor:not(.icon) {
  background-color: $blau-light-1;
}

#product-footer {
  @include media-breakpoint-down(sm) {
    padding: 30px 0 !important;
  }

  .loop-item {
    max-width: 350px;
    margin: 15px;
    border-radius: 0 $r3 0 $r3;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      margin: 0 7px !important;
      border-radius: 0 $r1;
      font-size: .7em;

      &:last-child {
        display: none !important;
      }
    }
  }
}

#product-grid {
  .so-widget-sow-image {
    position: relative;
    .widget-title a {
      position: absolute;
      border: 1px solid $blau-dunkel;
      border-radius: 1000px;
      background-color: transparent;
      width: 100%;
      line-height: 40px;
      color: $blau-dunkel;
      left: 0;
      bottom: 0;
      font-weight: 700;
    }
  }
}

.pipette-overlay {
  img {
    transform: translateX(-17%);
  }
}

.ov-overlay {
  img {
    transform: translateX(-23%);
  }
}

.flipdropper-awards {
  @include media-breakpoint-up(xl) {
    img {
      height: 340px !important;
      margin-top: -340px;
      transform: translateX(200%);
    }
  }
}
