// 2560 x 1000
// 1920 x 750
// 1370 x 535
// 1024 x 768
// 820 x 1180
// 430 x 932
//
//
// Typo
//
$font-body: "Encode Sans Expanded", sans-serif !important;
$font-size-default: 15px;
//
//
// Colors
//
$blau-light-0: #f5f6f9;
$blau-light-1: #eff2f7;
$blau-light-2: #e4ecf1;
$blau-light-3: #dde4ec;
$blau-light-4: #cfd5e3;
$blau-light-5: #b7beca;
$blau-light-6: #adb6ca;
$blau-light-7: #9aa6bd;
$blau-mittel-1: #5c6c90;
$blau-mittel-2: #4a5c80;
$blau-mittel-typo: #434d6e;
$blau-mittel-3: #3c4c70;
$blau-dunkel: #001e4b;

$gold-dunkel-2: #675E50;
$gold-dunkel: #7f6445;
$gold: #aa8461;

$ivory-hell-1: #f4f2ef;
$ivory-hell-2: #eae5e1;
$ivory-hell-3: #ebe7e0;
$ivory-hell-4: #e4d8ce;
$ivory-hell-5: #d1c9bc;
$ivory-dunkel: #bab0a1;

$green-text: #00af35;
$green-bg: #97e678;

$orange: #ff6b37;
$white: #fff;
$dark: #252227;
$black: #000;

$colors-list: (
  ("blau-dunkel", $blau-dunkel, $white),
  ("blau-mittel-1", $blau-mittel-1, $white),
  ("blau-mittel-1", $blau-mittel-1, $white),
  ("blau-mittel-2", $blau-mittel-2, $white),
  ("blau-mittel-3", $blau-mittel-3, $white),
  ("blau-light-1", $blau-light-1, $blau-dunkel),
  ("blau-light-1", $blau-light-1, $blau-dunkel),
  ("blau-light-2", $blau-light-2, $blau-dunkel),
  ("blau-light-3", $blau-light-3, $blau-dunkel),
  ("blau-light-4", $blau-light-4, $blau-dunkel),
  ("blau-light-5", $blau-light-5, $blau-dunkel),
  ("blau-light-6", $blau-light-6, $blau-dunkel),
  ("blau-light-7", $blau-light-7, $blau-dunkel),
  ("gold", $gold, $white),
  ("gold-dunkel", $gold-dunkel, $white),
  ("ivory-hell-1", $ivory-hell-1, $blau-dunkel),
  ("ivory-hell-2", $ivory-hell-2, $blau-dunkel),
  ("ivory-hell-3", $ivory-hell-3, $gold),
  ("ivory-hell-4", $ivory-hell-4, $blau-dunkel),
  ("ivory-hell-5", $ivory-hell-5, $blau-dunkel),
  ("ivory-dunkel", $ivory-dunkel, $blau-dunkel),
  ("dark", $dark, $white),
  ("black", $black, $white),
  ("white", $white, $blau-dunkel)
);

@each $color in $colors-list {
  .bg--#{nth($color,1)} {
    background-color: #{nth($color, 2)};
    * {
      color: #{nth($color, 3)};
    }
  }
  svg .bg--#{nth($color,1)} {
    fill: #{nth($color, 2)};
  }

  .txt--#{nth($color,1)} {
    * {
      color: #{nth($color, 2)};
    }
  }
}

//
//
// Stylings
//
$r0: 12px;
$r1: 18px;
$r2: 24px;
$r3: 36px;

$box-hover-shadow: 0 12px 24px -3px rgba(0, 0, 0, 0.2);
$box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.175);
//
//
// Layout
//
$mobile: 720px;
$tablet: 1000px;
$desktop: 1360px;

$pvw: 1vw;
$pvw-3: $pvw * 3;

$margin-1: 48px;
$margin-2: 70px;
