@import "variables.scss";

.so-widget-heinlein-icon-box {
  a {
    display: block;
    max-width: 240px;
    margin: auto;
  }
  svg {
    width: 40px;
    height: 40px;
    margin-bottom: 1em;
    border-radius: 50%;
  }
  p {
    line-height: 1.5em;
  }

  a:hover svg {
    background-color: $blau-dunkel !important;

    path:not(:first-child) {
      fill: #fff;
    }
  }
}

.widget_sow-image {
  .rounded {
    img {
      border-radius: 5000px;
    }
  }

  .border--blue {
    img {
      border: 1px solid $blau-dunkel;
    }
  }
}
